<div *ngIf="course" class="course-card">
  <div class="course-title">
    {{ cardIndex + ' ' + course.description }}
  </div>

  <ng-content *ngIf="course.iconUrl; else noImage"
              select="course-image"></ng-content>

  <ng-template #noImage>
    <p>No Image here</p>
  </ng-template>

  <div class="course-description">
    Edit Title:
    <input
      #courseTitle
      (keyup)="onTitleChanged(courseTitle.value)"
      [value]="course.description"
    >
  </div>
  <div class="course-category">
    <div class="category" i18n>
      {
        course.category,
        select,
        BEGINNER {Beginner}
        INTERMEDIATE {Intermediate}
        ADVANCED {Advanced}
        }
    </div>
  </div>
  <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>
</div>
