<div class="top-menu">

  <img
    alt="Angular Academy logo"
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
  >
</div>

<div>

  <div class="demo">


    <button (click)="onEditCourse()" i18n>Edit Course</button>

  </div>
  <div class="courses" *ngIf="courses$ | async as courses">
    <course-card
      #highlighter="hl" (courseChanged)="save($event)"
      (toggleHighlight)="onToggleHighlight($event)"
      *ngFor="let course of  courses; first as isFirst; last as isLast; odd as isOdd; even as isEven; index as i;"
      [cardIndex]="i+1"
      [class.is-even]="isEven"
      [class.is-first]="isFirst"
      [class.is-last]="isLast"
      [class.is-odd]="isOdd"
      [course]="course"
      [highlighted]='false'
      [highlighter]="highlighter"
      type="beginner">

      <course-image *ngxUnless="!course.iconUrl" [src]="course.iconUrl"></course-image>

      <div class="longDesc course-description" (dblclick)="highlighter.toggle()">
        {{course.longDescription}}
      </div>

    </course-card>

  </div>

</div>




